<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YELP_API_KEY</key>
	<string>Dyf6GYUuiITwJtjCZwt2perJBv4H38yroKn3UYhzkmNqO_SH1J3pyN1_KtmAOkpp1qGMXqoqZaa5JLaUfkDK8LRPM2-6bF2EOIteSCDJOxgh1q4fGiovYDEsB0IFaHYx</string>
</dict>
</plist>
